environment: dev
stack_name: alvinator

core:
    region: ap-northeast-1
    persistence:
        efs:
            enabled: True
            lifecycle_policy: AFTER_7_DAYS

jenkins:
    enabled: False
    ami_id: ami-0db8a3e80938a5195
    instance_type: t2.medium

cloud_ide:
    enabled: True
    ami_id: ami-0a3db6afbe21a4d5b
    instance_type: m6g.large
    iam_role_policies: [
        "service-role/AmazonEC2RoleforSSM",
        "AdministratorAccess"
    ]
    domain_name: "*.adelagon.com"
    code_server_password: "<Set you code-server password here>"
    update_on_create: True
    reboot_on_create: True
    efs_mount_point: "/mnt/efs/shared"
