environment: dev
stack_name: alvinator

core:
    region: ap-northeast-1

jenkins:
    enabled: False
    ami_id: ami-0db8a3e80938a5195
    instance_type: t2.medium

cloud_ide:
    enabled: True
    ami_id: ami-06568438f0b180006
    instance_type: m6g.large
    iam_role_policies: [
        "service-role/AmazonEC2RoleforSSM",
        "AdministratorAccess"
    ]
    domain_name: "*.adelagon.com"
    code_server_password: "<Your Password Here>"
